.game-board {
    display: grid;
    grid-template-columns: repeat(7, 68px);
    padding: 20px;
}

.cell {
    &__empty {
        background-color: #e0e0e0;
    }

    &__winning {
        scale: 1.1;
        box-shadow: 0 0 20px purple;
    }

    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cell.player_1 {
    background-color: #B22222;
}

.cell.player_2 {
    background-color: #535bf2;
}

.cell-wrapper {
    padding: 4px;
}

.column-hover .cell__empty  {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}
