.settings-modal {
    &__header {
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.restart-button {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.sound-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
