.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

.modal {
    padding: 24px 36px 36px;
    background-color: #242424;
    width: 70%;
    max-width: 500px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 20;
    transition: all 0.5s ease-in-out;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 24px;
    width: 24px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.modal-main-wrapper {
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: light) {
    .modal {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
