#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
}

.game-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.settings-button {
  font-size: 20px;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
